@model dynamic

@{
    ViewBag.Title = "Log in";
    Layout = "_Layout";
}
<style>
body{
    background-color:  #C0DCEC;
    color: white;
    size: landscape;
    
   }
   .btn {
             position: relative;
             overflow: hidden;
             z-index: 1;
             padding: 10px 40px;
             margin: 0 20px;
             font-family: 'Montserrat Alternates', sans-serif;
             font-weight: 600;
             line-height: 30px;
             color: white;
             font-size: 15px;
             text-transform: uppercase;
             background: #60bcdc ;
             border-width: 0;
             box-shadow: 5px 5px 0 #145DA0;
             outline: none;
             cursor: pointer;
             transition: 1.5s;
          }
          .btn:before, .btn:after {
             content: "";
             position: absolute;
             height: 200px;
             left: -50%;
             margin-top: -100px;
             top: 50%;
             width: 200px;
             border-radius: 50%;
             opacity: 0.3;
             z-index: -1;
             transform: scale(0);
          }
          .btn:before {
             background: #a4dfed;
             transition: .8s ease-out;
          }
          .btn:after {
             transition: .4s ease-in .3s;
          }
          .btn:hover {
             color: #145DA0;
          }
          .btn:hover:before, .btn:hover:after {
             opacity: 1;
             transform: scale(4);
          }
   
   text {
   color: white;
   }
   form{
   width: 400px;
   }
   .container {
       display: flex;
       align-items: center;
       justify-content: center;
     
       
   }
   nav{
        height: 45px;
        }
   </style>
<body>
<h1 class="display-3" style="color: white;">Log in</h1>
<div class="" style="margin-top: 50px">
    <form method="post">
        <div class="form-group">
            <input style="border-radius: 12px" type="text" name="username" class="form-control" id="exampleInputName1" placeholder="Username">
        </div>
        <div class="form-group">

            <input style="border-radius: 12px" type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <button  type="submit" class="btn">Submit</button>
    </form>
</div>
</body>