@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<style>
body{
    background-color:  #60bcdc;
    color: white;
    size: landscape;
    
   }
   
   text {
   color: white;
   }
   form{
   width: 400px;
   }
   nav{
        height: 45px;
        }

   </style>
<body>
<div class="" style="margin-top: 50px">
    <form method="post">
        <div class="form-group">

            <input style="border-radius: 12px" type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div> 
        <div class="form-group">

            <input style="border-radius: 12px" type="password" name="newPassword" class="form-control" id="exampleInputPassword1" placeholder="New password">
        </div>

        <button style="background-color: #60bcdc; width: 200px; border-color: darkturquoise; border-radius: 12px " type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>