@model App.ViewModels.TasksListViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<style >
  body{
  background-color: #60bcdc;
  
  color: white;
  }
  text {
  color: white;
  }
  .container {
         display: flex;
        
         
     }
     nav{
     height: 45px;
     }
  
  
</style>

<body >

<div class="container" >
    <div class="mycontainer" style="margin-top: 20px;">
        
            <div class="container">
                @foreach (var task in Model.Tasks)
                {
                    <div class="card" style="width: 12rem; margin-left: 15px">
                        <div class="card-body">
                            
                            <a href='@Url.Action("Index", new {taskId = task.Id})'>

                            <h5 class="card-title" style="color: #60bcdc">@task.Title</h5>
                            </a>

                        </div>
                    </div>

                }
            </div>

    </div>
</div>



</body>
