@using Microsoft.EntityFrameworkCore.Scaffolding
@model App.ViewModels.ProjectViewModel

@{
    ViewBag.Title = "Project info";
    Layout = "_Layout";
}
<style >
  body{
  background-color: #60bcdc;
  
  color: white;
  }
  text {
  color: white;
  }
  .container {
         display: flex;
        
         
     }
     nav{
     height: 45px;
     }
</style>
<body>

</body>
