@model App.ViewModels.TasksListViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<style >
  
  
         
 
     
     body {
       
       background: #60bcdc ;
     }
   
     nav{
     height: 45px;
     }
     .border {
               list-style: none;
               padding: 0;
               }
               .border li {
               font-family: "Trebuchet MS", "Lucida Sans";
               padding: 7px 20px;
               margin-bottom: 10px;
               border-radius: 5px;
               border-left: 10px solid #f05d22; 
               background-color: white;
               font-size: 20px;
               letter-spacing: 2px;
               transition: 0.3s all linear;
               }
               .border li:nth-child(2){border-color: #8bc63e;}
               .border li:nth-child(3){border-color: #fcba30;}
               .border li:nth-child(4){border-color: #1ccfc9;}
               .border li:nth-child(5){border-color: #493224;}
               .border li:hover {border-left: 10px solid transparent;}
               .border li:nth-child(1):hover {border-right: 10px solid #f05d22;}
               .border li:nth-child(2):hover {border-right: 10px solid #8bc63e;}
               .border li:nth-child(3):hover {border-right: 10px solid #fcba30;}
               .border li:nth-child(4):hover {border-right: 10px solid #1ccfc9;}
               .border li:nth-child(5):hover {border-right: 10px solid #493224;}
  
  
  
</style>
<div style="margin-left: 60px; margin-top: 30px; max-width: 400px">
<form method="post">
    <div class="input-group mb-3" style="width: 200px;">
        <span class="input-group-text" id="basic-addon1">#</span>
        <input type="text" class="form-control" name="tagPart" placeholder="Enter tag" aria-describedby="basic-addon1">
    </div>
    <button style="background-color: #60bcdc; width: 200px; border-color: #60bcdc; border-radius: 12px " type="submit" class="btn btn-primary">Search</button>

</form>

<ul class="border">
    @foreach (var task in Model.Tasks)
    {
        <li>
           
            <h5 class="card-title" style="color: #60bcdc">@task.Title</h5>
            
        </li>
    }
</ul>
</div>
