@model  App.ViewModels.RoadMapViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@foreach (var step in Model.Steps)
{
    <h5 style="color: black;">@step.Id</h5>
}
 @using (Html.BeginForm("AddStep","RoadMap",FormMethod.Get))
                                {
                                    <div class="form-group" style="margin-top: 10px; ">
                
                                        <input style="border-radius: 12px; width: 15rem;  height: 35px" type="text" name="title" class="form-control" placeholder="Add step" >
                
                                    </div>
                                }


