@model App.ViewModels.UserViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<style >
    body{
    background-color:  #C0DCEC;
    color: white;
    size: landscape;
    
   }
   
   text {
   color: white;
   }
   form{
   width: 400px;
   }
   .container{
   display: flex;
   
   }
   nav{
        height: 45px;
        }
  
  
</style>

<body>
<div class="container">
        <img src="https://www.pinclipart.com/picdir/big/545-5452956_usability-clipart.png" width="400" style="margin-top: 20px">

    <div style="margin-top: 20px">
        @foreach (var n in Model.Notifications)
        {
            <div class="card" style="width: 40rem; height: 52px; margin-top: 5px">
                <div class="card-body">
                    <a href='@Url.Action("RedirectController", new {path = n.Link})'>

                        <h6 style="color: #60bcdc ">@n.Text</h6>
                    </a>

                </div>
            </div>

        }
    </div>
</div>
</body>